.header {
  height: 75vh;
	margin-bottom: 5rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 90%);
	clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 90%);

	@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), only screen and (min-width: 75em) {
		background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
	}

	@include respond(phone) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 85%);
		clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 85%);
	}

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 4rem;
  }
  /*.logo:hover {
        animation: moveInRight 1s ease-out;
    }
    */

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
